<style>
#myDiv {
  width: 50%;
  height: 300px;
  float: left;
  margin-top: 5%;
}
</style>
<body class="nav-md">
  <script>
  if (jQuery("body").width() < 760) {
    $('body').addClass('nav-sm');
    $('body').removeClass('nav-md')
  }
  </script>

  <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

  <script>
      var tasks = {{{tasks}}}
      var users = {{{users}}}
      var projects = {{{projects}}}
      var folders = {{{folders}}}
      var roles = {{{roles}}}

      function findProject(folderId) {
        const folder = folders.find(folder => folderId === folder._id)

        if (folder.isProject) return folder

        else return findProject(folder.parentId)
      }

      var upcomingtasks = tasks.reduce((acc, task) => {
        if (task.dates.type !== 'backlog') {
          acc[findProject(task.parentFolderIds[0]).title] = 
            acc[findProject(task.parentFolderIds[0]).title] ?
              acc[findProject(task.parentFolderIds[0]).title] + 1 : 1
        }

        return acc;
      }, {})

      var taskTypes = tasks.reduce((acc, task) => {
        acc[task.dates.type] = acc[task.dates.type] ? acc[task.dates.type] + 1 : 1

        return acc;
      }, {})

      var taskStatus = tasks.reduce((acc, task) => {
        acc[task.status] = acc[task.status] ? acc[task.status] + 1 : 1

        return acc;
      }, {})

      var taskPerProject = projects.reduce((projects, project) => {
        var count = tasks.reduce((acc, task) => acc + findProject(task.parentFolderIds[0])._id === project.id ? 1 : 0, 0)

        projects[project.title] = count

        return projects;
      }, {})

      var assignees = tasks.reduce((acc, task) => {
        if (task.user && task.user[0]) {
          var assignee = users.find(user => user._id === task.user[0])
          assignee = `${assignee.firstname} ${assignee.lastname}`

          acc[assignee] = acc[assignee] ? acc[assignee] + 1 : 1
        } else {
          acc.unassigned += 1
        }

        return acc
      }, { unassigned: 0 })

      $(function(){
        function randomRGBA() {
          var o = Math.round, r = Math.random, s = 255;
          return 'rgba(' + o(r()*s) + ',' + o(r()*s) + ',' + o(r()*s) + ',' + r().toFixed(1) + ')';
        }
        function getData(array, search, value) {
          var data = array.find(function(element) {
            return element[search] == value;
          });
          return data;
        }
        var activeTasks = 0;
        var completedTasks = 0;
        var plannedTasks = 0;
        var backlogTasks = 0;
        var totalTasks = 0;
        var user = {
          hasRoles: [],
          hasNoRoles: 0
        };
        var totalUsers = 0;
        var people = {
          assigned: [],
          unassigned: 0
        };
        
        var chartProgressTasks = document.getElementById("progressTasks").getContext("2d");
        var chartTasksAC = document.getElementById("tasksAC").getContext("2d");
        var chartTasksAssigne = document.getElementById("tasksAssigne").getContext("2d");
        var chartTasksAssigne2 = document.getElementById("taskAssigne2").getContext("2d");
        var chartTasksPB = document.getElementById("tasksPB").getContext("2d");
        var chartUserRoles = document.getElementById("userRoles").getContext("2d");
        var chartNumberProjects = document.getElementById("numberProjects").getContext("2d");
        var chartRemainingTasks = document.getElementById("remainingTasks").getContext("2d");
        var chartUpcomingTasks = document.getElementById("upcomingTasks").getContext("2d");

        var labels = ["Total Users", "Has No Roles"];
        var data = [0, roles.NoRoles];

        for (var role in roles) {
          if (role !== 'NoRoles') {
            labels.push(role);
            data.push(roles[role]);
          }
          data[0] += roles[role]
        }

        var userRoles = new Chart(chartUserRoles, {
          type: 'bar',
          data: {
            labels: labels,
            datasets: [{
              label: "Users",
              data: data,
              backgroundColor: [
                "#03586A", "#26B99A", "#acadac", "#03586A", "#26B99A", "#acadac"
              ],
            }]
          },
          options: {
            maintainAspectRatio: false,
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }
        });

        $.getJSON("data/json/tasks.json", function(result){
          var numberProjects = new Chart(chartNumberProjects, {
            type: 'horizontalBar',
            data: {
              labels: ["Number of Projects"],
              datasets: [{
                label: "Projects",
                data: [projects.length],
                backgroundColor: [
                  "#03586A", "#26B99A", "#acadac", "#03586A", "#26B99A", "#acadac"
                ],
              }]
            },
            options: {
              maintainAspectRatio: false,
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }]
              }
            }
          });

          /*
          res.forEach(value => {
            var startDate = value.dates__start;
            if (value.status === "Active") {
              var data = getData(folder, "_id__$oid", value.parentFolderIds__$oid);
              if (data) {
                if (data['isProject'] == "False") {
                  var data2 = getData(folder, "_id__$oid", data.parentId);
                  if (data2) {
                    if (data2['isProject'] == "False") {
                      var data3 = getData(folder, "_id__$oid", data2.parentId);
                      if (data3) {
                        if (data3['isProject'] == "True") {
                          if(countProject.indexOf(data3['title']) === -1) {
                            if (typeof(countProject[data3['title']]) === "undefined") {
                              countProject[data3['title']] = 1;
                            } else {
                              countProject[data3['title']] += 1;
                            }
                            
                            if (startDate) {
                              startDate = startDate.split("/");
                              var month = startDate[1] - 1;
                              if(startDate[2] == year) {
                                if (typeof(upcomingTasks[data3['title']]) === "undefined") {
                                  upcomingTasks[data3['title']] = defaultMonth;
                                  upcomingTasks[data3['title']][month] = 1;
                                } else {
                                  upcomingTasks[data3['title']][month] += 1;
                                }
                              }
                            }
                          }
                        } else {
                          var data4 = getData(folder, "_id__$oid", data3.parentId);
                          if (data4) {
                            if (data4['isProject'] == "True") {
                              if(countProject.indexOf(data4['title']) === -1) {
                                if (typeof(countProject[data4['title']]) === "undefined") {
                                  countProject[data4['title']] = 1;
                                } else {
                                  countProject[data4['title']] += 1;
                                }
                              }

                              if (startDate) {
                                startDate = startDate.split("/");
                                var month = startDate[1] - 1;
                                if(startDate[2] == year) {
                                  if (typeof(upcomingTasks[data4['title']]) === "undefined") {
                                    upcomingTasks[data4['title']] = defaultMonth;
                                    upcomingTasks[data4['title']][month] = 1;
                                  } else {
                                    upcomingTasks[data4['title']][month] += 1;
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            
            if (value.authorIds__name) {
              if (people.assigned.indexOf(value.authorIds__name) === -1) {
                if (typeof(people.assigned[value.authorIds__name]) === "undefined") {
                  people.assigned[value.authorIds__name] = 1;
                } else {
                  people.assigned[value.authorIds__name] += 1;
                }
                
              }
            } else {
              people.unassigned += 1;
            }

            if (value.status === "Active") {
              activeTasks += 1;
            } else if (value.status === "Completed") {
              completedTasks += 1;
            }

            if (value.dates__type === "Planned") {
              plannedTasks += 1;
            } else if (value.dates__type === "backlog") {
              backlogTasks += 1;
            }
          });

          var datasets = [];

          var counter = 0

          var taskcolors = [
            "#03586A", "#26B99A", "#acadac", "#03586A", "#26B99A", "#acadac"
          ]

          for(var name in countProject) {
            datasets.push({
              label: name,
              data: upcomingTasks[name],
              backgroundColor: taskcolors[counter],
            });

            counter++
          }

          var upcomingTasks = new Chart(chartUpcomingTasks, {
            type: 'bar',
            data: {
              labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
              datasets: datasets
            },
            options: {
              maintainAspectRatio: false,
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }]
              }
            }
          });
          */

          var labels = [];
          var data = [];

          for(var project in taskPerProject) {
            labels.push(project);
            data.push(taskPerProject[project]);
          }

          var remainingTasks = new Chart(chartRemainingTasks, {
            type: 'horizontalBar',
            data: {
              labels: labels,
              datasets: [{
                label: "Tasks",
                data: data,
                backgroundColor: [
                  "#03586A", "#26B99A", "#acadac", "#03586A", "#26B99A", "#acadac"
                ],
              }]
            },
            options: {
              maintainAspectRatio: false,
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }]
              }
            }
          });

          var labels = ["Total Tasks", "Unassigned"];
          var data = [assignees.unassigned, assignees.unassigned];

          for (var assignee in assignees) {
            if (assignee !== 'unassigned') {
              labels.push(assignee)
              data.push(assignees[assignee])
              data[0] += assignees[assignee]
            } 
          }

          var tasksAssigne = new Chart(chartTasksAssigne, {
            type: 'horizontalBar',
            data: {
              labels: labels,
              datasets: [{
                label: "Tasks",
                data: data,
                backgroundColor: [
                  "#03586A", "#26B99A", "#acadac", "#03586A", "#26B99A", "#acadac"
                ],
              }]
            },
            options: {
              maintainAspectRatio: false,
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }]
              }
            }
          });

          var total = +data[0]
          var unassigned = ((+data[1]/+data[0]) * 100).toFixed(2);

          labels = ["Unassigned"];
          data = [unassigned];
          var colors2 = ["rgba(255,0,0,0.5)"];

          for(assignee in assignees) {
            if (assignee !== 'unassigned') {
              var count = ((+assignees[assignee]/total) * 100).toFixed(2);
              labels.push(assignee);
              data.push(count);
            }
          }

          var taskAssigne2 = new Chart(chartTasksAssigne2, {
            type: 'pie',
            data: {
              labels: labels,
              datasets: [{
                data: data,
                backgroundColor: [
                  "#03586A", "#26B99A", "#acadac", "#03586A", "#26B99A", "#acadac"
                ],
              }]
            },
            options: {
              maintainAspectRatio: false
            }
          });

          var data = [0, 0, 0]

          for (type in taskTypes) {
            data[0] += taskTypes[type]
            if (type === 'backlog') data[1] = taskTypes[type]
            else data[2] = taskTypes[type]
          }

          labels = ["Total Tasks", "Planned Tasks", "Backlog Tasks"];

          var tasksPB = new Chart(chartTasksPB, {
            type: 'horizontalBar',
            data: {
              labels: labels,
              datasets: [{
                label: "Number of Tasks",
                data: data,
                backgroundColor: [
                  "#03586A", "#26B99A", "#acadac", "#03586A", "#26B99A", "#acadac"
                ]
              }]
            },
            options: {
              maintainAspectRatio: false,
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }]
              }
            }
          });

          labels = ["Total Tasks", "Active Tasks", "Completed Tasks"];
          data = [0, 0, 0];

          for (type in taskStatus) {
            data[0] += taskStatus[type]
            if (type === 'Active') data[1] = taskStatus[type]
            else data[2] = taskStatus[type]
          }

          var tasksAC = new Chart(chartTasksAC, {
            type: 'horizontalBar',
            data: {
              labels: labels,
              datasets: [{
                label: "Number of Tasks",
                data: data,
                backgroundColor: [
                  "#03586A", "#26B99A", "#acadac", "#03586A", "#26B99A", "#acadac"
                ]
              }]
            },
            options: {
              maintainAspectRatio: false,
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }]
              }
            }
          });

          activeTasks = ((data[1]/data[0]) * 100).toFixed(2);
          completedTasks = ((data[2]/data[0]) * 100).toFixed(2);

          labels = ["Active Tasks", "Completed Tasks"];
          data = [activeTasks, completedTasks];

          var progressTasks = new Chart(chartProgressTasks, {
            type: 'pie',
            data: {
              labels: labels,
              datasets: [{
                data: data,
                backgroundColor: [
                  "#03586A", "#26B99A", "#acadac", "#03586A", "#26B99A", "#acadac"
                ]
              }]
            },
            options: {
              maintainAspectRatio: false
            }
          });
        });
      });
    </script>
  
		
		
		
		
		
<body class="nav-md">

  <script>
  if (jQuery("body").width() < 760) {
    $('body').addClass('nav-sm');
    $('body').removeClass('nav-md')
  }
  </script>

  <!-- Container -->
  <div class="container body">
    <!-- Main Container -->
    <div class="main_container_db">

      <!-- Sidebar -->
      {{> sidebar }}
      <!-- /Sidebar -->

      <!-- page content -->
      <div class="right_col_db page_content" role="main">

       <!-- top navigation ! -->
       {{> topbar }}
       <!-- /top navigation -->


       <!-- main cont -->
       <div class="main_cont">
         <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Charts</li>
                </ol>
            </nav>
       

        <section class="login_content">

          <div class="row">
            <div class="task-visuals col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Tasks</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <h4>Number of Projects</h4>
                      <div>
                        <canvas id="numberProjects"></canvas>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <h4>Remaining Tasks</h4>
                      <div>
                        <canvas id="remainingTasks"></canvas>
                      </div>
                    </div>
                    <div class="upcoming col-md-12 col-sm-12 col-xs-12">
                      <h4>Upcoming tasks (2018)</h4>
                      <div>
                        <canvas id="upcomingTasks"></canvas>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <h4>Number Of Tasks (Active or Completed)</h4>
                      <div><canvas id="tasksAC"></canvas></div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <h4>Number Of Tasks (Planned or Backlog)</h4>
                      <div><canvas id="tasksPB"></canvas></div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <h4>Progress Of Tasks (%)</h4>
                      <div><canvas id="progressTasks"></canvas></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="task-visuals col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Users</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                      <h4>User Roles</h4>
                      <div><canvas id="userRoles"></canvas></div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <h4>Tasks Assigned (%)</h4>
                      <div><canvas id="taskAssigne2"></canvas></div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <h4>Tasks Assigned</h4>
                      <div><canvas id="tasksAssigne"></canvas></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>
            <img src="../build/images/logo_elevate.png" style="border: 0; width: 296px;">
          </div>
        </section>




                    </div>
                  </div>
                </div>
              </div>
            
            

            </div>
          </div>

          <!-- footer content -->
          <footer>
            <div class="pull-right">
              &copy; elyvt.com
            </div>
            <div class="clearfix"></div>
          </footer>
          <!-- /footer content -->
        </div>
        <!-- /main cont -->
      </div>
      <!-- /page content -->
    </div>
    <!-- /Main Container -->
  </div>
  <!-- /Container --> 


  <!-- jQuery -->
  http://elyvt.com
  <!-- Bootstrap -->
  <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- bootstrap-daterangepicker -->
  <script src="/vendors/moment/min/moment.min.js"></script>
  <script src="/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

  <!-- Custom Theme Scripts -->
  <script src="/build/js/custom.min.js"></script>

  <script src="/vendors/plotly/js/plotly-latest.min.js"></script>
  <script src="/vendors/plotly/js/numeric.min.js"></script>

  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

  <script type="text/javascript" src="js/snap.svg-min.js"></script>
  <script src="/js/frappe-gantt.min.js" ></script>

  <script>
  // initalise variables

/*
  var tasksGanttChartContents = []

  var tasksgantdata = {{{tasksGanttChartContents}}}

  for (var element in tasksgantdata){
    var task = {
       id: tasksgantdata[element]['id'],
      name: tasksgantdata[element]['name'],
      start: tasksgantdata[element]['start'],
      end: tasksgantdata[element]['end'],
      progress: 100
    } 
    if(tasksgantdata[element]['dependencies']){
      task.dependencies = tasksgantdata[element]['dependencies']
    }
    tasksGanttChartContents.push(task);
  }


  
   * Function getContactByID
   *
   * Find and Return Contact from contactList by ID
   *
   * @param (type): $contactID(integer)
   * @return Contact Details: (Json Obj)
   
   function getContactByID($contactID){
    for(var contactsElement in contactsData['data']){
      if($contactID==contactsData['data'][contactsElement]['id']){
        return contactsData['data'][contactsElement];
      }
    }
    return false;
  }



var gantt = new Gantt("#gantt", tasksGanttChartContents);
gantt.change_view_mode('Week')

*/

  $(window).load(function(){
    $('#completedTaskstable').DataTable();
    $("#overdueTaskstable").DataTable();
    $("#upcomingTaskstable").DataTable();
  });

  </script>

  <style>
    .task-visuals .col-md-8 > div, .task-visuals .col-lg-8 > div, .task-visuals .col-sm-8 > div,
    .task-visuals .col-md-4 > div, .task-visuals .col-lg-4 > div, .task-visuals .col-sm-4 > div,
    .ppp .col-md-8, .ppp .col-lg-8, .ppp .col-sm-8 {
      height: 250px;
      margin-bottom: 40px;
    }

    .upcoming > div {
      height: 250px;
      margin-bottom: 40px;
    }

    .ppp .col-md-8, .ppp .col-lg-8, .ppp .col-sm-8 {
      width: 200px;
      margin-bottom: 40px;
    }

    .task-visuals .col-md-6 > div, .task-visuals .col-lg-6 > div, .task-visuals .col-sm-6 > div {
      height: 150px;
      margin-bottom: 40px;
    }

    .square {
      vertical-align: middle;
      display: inline-block;
      background: blue;
      width: 15px;
      height: 15px;
      margin-right: 1px;
    }
 </style>

</body>
</html>

		
		
