<html>
<body class="nav-md">
<script>
    if (jQuery("body").width() < 760) {
        $('body').addClass('nav-sm');
        $('body').removeClass('nav-md')
    }
</script>
<!-- Container -->
<div class="container body">
    <!-- Main Container -->
    <div class="main_container_db">
        <!-- Sidebar -->
        {{> sidebar }}
        <!-- /Sidebar -->
        <!-- page content -->
        <div class="right_col_db page_content" role="main">
            <!-- top navigation ! -->
            {{> topbar }}
            <!-- /top navigation -->
            <!-- main cont -->
            <div class="row main_cont">
                <nav class="col-md-12" aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Profile</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-md-12 login_content"><!-- login_content -->
                    <form class="form-horizontal" role="form" method="POST">
                        <legend>My Profile</legend>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">First Name:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" name="fname" value="{{{ userDetails.firstname }}}" autofocus="autofocus"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Last name:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" name="lname" value="{{{ userDetails.lastname }}}" autofocus="autofocus"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">E-mail:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" name="text" value="{{{ userDetails.email }}}" autofocus="autofocus"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Roles:</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="roles" value="{{{ userDetails.roles }}}" autofocus="autofocus"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Title:</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="title" value="{{{ userDetails.title }}}" autofocus="autofocus"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Type:</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="type" value="{{{ userDetails.type }}}" autofocus="autofocus"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-8">
                                <button type="submit" class="btn btn-primary">Update</button>
                                <span></span>
                                <input type="reset" class="btn btn-default" value="Cancel">
                            </div>
                        </div>
                    </form>
                    <div>
                        <img src="../build/images/logo_elevate.png" style="border: 0; width: 296px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer content -->
<footer>
    <div class="pull-right">
        &copy; elyvt.com
    </div>
    <div class="clearfix"></div>
</footer>
<!-- jQuery -->
<!--http://elyvt.com -->
<!-- Bootstrap -->
<script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="/vendors/moment/min/moment.min.js"></script>
<script src="/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- Custom Theme Scripts -->
<script src="/build/js/custom.min.js"></script>
<script src="/vendors/plotly/js/plotly-latest.min.js"></script>
<script src="/vendors/plotly/js/numeric.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/snap.svg-min.js"></script>
<script src="/js/frappe-gantt.min.js"></script>
<script>
    $(window).load(function () {
        $('#completedTaskstable').DataTable();
        $("#overdueTaskstable").DataTable();
        $("#upcomingTaskstable").DataTable();
    });
</script>
</body>
</html>

		
		
